<mat-card class="filters-card">
  <div class="filters-row">

    <mat-form-field appearance="outline">
      <mat-label>From</mat-label>
      <input
        matInput
        [matDatepicker]="fromPicker"
        [(ngModel)]="from"
      />
      <mat-datepicker-toggle matSuffix [for]="fromPicker" />
      <mat-datepicker #fromPicker />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>To</mat-label>
      <input
        matInput
        [matDatepicker]="toPicker"
        [(ngModel)]="to"
      />
      <mat-datepicker-toggle matSuffix [for]="toPicker" />
      <mat-datepicker #toPicker />
    </mat-form-field>

    <!-- Program dropdown (waiting for data source clarification) -->
    <mat-form-field appearance="outline">
      <mat-label>Program</mat-label>
      <mat-select [(ngModel)]="programId" disabled>
        <mat-option [value]="null">All programs</mat-option>
        <!-- options will be added once program source is confirmed -->
      </mat-select>
    </mat-form-field>


    <button
      mat-flat-button
      color="primary"
      (click)="apply()"
    >
      Apply
    </button>


    <button
      mat-stroked-button
      (click)="clear()"
    >
      Clear
    </button>

  </div>
</mat-card>
